.svn
.idea
target
logs
out
stacktrace.log
wrapper/

*.class

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# project release file
/*.war

# plugin release files
/*.zip

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target 

hs_err_pid*
.DS_Store

*.iml

## Directory-based project format:
## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

.classpath
.project

*.iws
*Db.properties
*Db.script
.settings
.classpath
.project
.idea
eclipse
stacktrace.log
target
target-eclipse
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
